.loading,
.loading-figure {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loading {
  overflow: visible;
  padding-top: 2em;
  height: 0;
  width: 2em;
}

.loading-figure {
  height: 0;
  width: 0;
  box-sizing: border-box;
  border: 0 solid #aeaaaa;
  border-radius: 50%;
  animation: loading-figure 1.15s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}

.loading-label {
  float: left;
  margin-left: 50%;
  transform: translateX(-50%);
  margin: 0.5em 0 0 50%;
  font-size: 0.875em;
  letter-spacing: 0.1em;
  line-height: 1.5em;
  color: #0099ff;
  white-space: nowrap;
  animation: loading-label 1.15s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}

.loading-fixed,
.loading-inner{
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    z-index: 9999;
    /*background: rgba(255,255,255,.4);*/
    display: none;
}

.loading-fixed{
    position: fixed;
}

.loading-inner{
    position: absolute;
}

@-ms-keyframes loading-figure {
  0% {
    height: 0;
    width: 0;
    background-color: #0099ff;
  }
  29% {
    background-color: #0099ff;
  }
  30% {
    height: 2em;
    width: 2em;
    background-color: transparent;
    border-width: 1em;
    opacity: 1;
  }
  100% {
    height: 2em;
    width: 2em;
    border-width: 0;
    opacity: 0;
    background-color: transparent;
  }
}

@-moz-keyframes loading-figure {
  0% {
    height: 0;
    width: 0;
    background-color: #0099ff;
  }
  29% {
    background-color: #0099ff;
  }
  30% {
    height: 2em;
    width: 2em;
    background-color: transparent;
    border-width: 1em;
    opacity: 1;
  }
  100% {
    height: 2em;
    width: 2em;
    border-width: 0;
    opacity: 0;
    background-color: transparent;
  }
}

@-webkit-keyframes loading-figure {
  0% {
    height: 0;
    width: 0;
    background-color: #0099ff;
  }
  29% {
    background-color: #0099ff;
  }
  30% {
    height: 2em;
    width: 2em;
    background-color: transparent;
    border-width: 1em;
    opacity: 1;
  }
  100% {
    height: 2em;
    width: 2em;
    border-width: 0;
    opacity: 0;
    background-color: transparent;
  }
}

@keyframes loading-figure {
  0% {
    height: 0;
    width: 0;
    background-color: #0099ff;
  }
  29% {
    background-color: #0099ff;
  }
  30% {
    height: 2em;
    width: 2em;
    background-color: transparent;
    border-width: 1em;
    opacity: 1;
  }
  100% {
    height: 2em;
    width: 2em;
    border-width: 0;
    opacity: 0;
    background-color: transparent;
  }
}

@-ms-keyframes loading-label {
  0% {
    opacity: 0.25;
  }
  30% {
    opacity: 1;
  }
  100% {
    opacity: 0.25;
  }
}

@-moz-keyframes loading-label {
  0% {
    opacity: 0.25;
  }
  30% {
    opacity: 1;
  }
  100% {
    opacity: 0.25;
  }
}

@-webkit-keyframes loading-label {
  0% {
    opacity: 0.25;
  }
  30% {
    opacity: 1;
  }
  100% {
    opacity: 0.25;
  }
}


@keyframes loading-label {
  0% {
    opacity: 0.25;
  }
  30% {
    opacity: 1;
  }
  100% {
    opacity: 0.25;
  }
}
