.mp-pagination-nav {
    text-align: center;
}

.mp-pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}

    .mp-pagination > li {
        display: inline;
    }

        .mp-pagination > li > a,
        .mp-pagination > li > span {
            position: relative;
            float: left;
            padding: 6px 12px;
            margin-left: -1px;
            line-height: 1.42857143;
            color: #337ab7;
            text-decoration: none;
            background-color: #fff;
            border: 1px solid #ddd;
        }

        .mp-pagination > li:first-child > a,
        .mp-pagination > li:first-child > span {
            margin-left: 0;
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
        }

        .mp-pagination > li:last-child > a,
        .mp-pagination > li:last-child > span {
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
        }

        .mp-pagination > li > a:hover,
        .mp-pagination > li > span:hover,
        .mp-pagination > li > a:focus,
        .mp-pagination > li > span:focus {
            z-index: 2;
            color: #23527c;
            background-color: #eee;
            border-color: #ddd;
        }

    .mp-pagination a.is-active,
    .mp-pagination .is-active > a,
    .mp-pagination .is-active > span,
    .mp-pagination .is-active > a:hover,
    .mp-pagination .is-active > span:hover,
    .mp-pagination .is-active > a:focus,
    .mp-pagination .is-active > span:focus {
        z-index: 3;
        color: #fff;
        cursor: default;
        background-color: #337ab7;
        border-color: #337ab7;
    }

.mp-btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #333;
    background-color: #e6e6e6;
    border-color: #8c8c8c;
}

a.mp-btn {
    color: #337ab7;
    text-decoration: none;
}

    a.mp-btn:hover,
    a.mp-btn:focus {
        color: #23527c;
        text-decoration: none;
    }

    a.mp-btn:focus {
        outline: thin dotted;
        outline: 5px auto -webkit-focus-ring-color;
        outline-offset: -2px;
    }

.is-left {
    float: left;
}

.is-right {
    float: right;
}

.mp-pagination-info {
    margin: 1rem auto;
    padding: 1rem;
    background: #eee;
}

    .mp-pagination-footer:before,
    .mp-pagination-footer:after,
    .mp-pagination-info:before,
    .mp-pagination-info:after {
        display: table;
        content: " ";
    }

    .mp-pagination-footer:after,
    .mp-pagination-info:after {
        clear: both;
    }
