
@*<nav aria-label="Page navigation" class="mp-pagination-nav">
    <ul class="mp-pagination">
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#" class="is-active">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
    </ul>
    <div class="mp-pagination-footer">
        <a href="" class="mp-btn">Next</a>
        <a href="" class="mp-btn">Prev</a>
        <div class="mp-pagination-info">
            <div class="is-left">page 1 of 10</div>
            <div class="is-right">total count 50</div>
        </div>
    </div>
</nav>*@


@using MvcPagedList.Core;

@PagedList.Pager(actionName: "search", controllerName: "home",areaName:"",
    routeValues: new
    {
        term = Context.Request.Query["term"],
        sortOrder = Context.Request.Query["sortOrder"],
        sortBy = Context.Request.Query["sortBy"],

    },
    ajaxAttributes: new
    {
        data_ajax = "true",
        data_ajax_loading = "#global-ajax-loading",
        data_ajax_update = "#ajax-show-list",
        data_ajax_method = "GET",
        data_ajax_mode = "replace"


    },
    pagerOptions: new PagerOptions
    {
        currentPage = (int)ViewBag.CurrentPage,
        PageCount = (int)ViewBag.PageSize,
        TotalItemCount = (int)ViewBag.TotalItemCount,
        DisplayMode = PagedListDisplayMode.IfNeeded,
        DisplayInfoArea = true,
        LinkToNextPageFormat = "next",
        LinkToPreviousPageFormat = "prev",
        CurrentLocationFormat = "page",
        PageCountFormat = "of",
        TotalItemCountFormat = "total count",

    } )
