@{
    ViewBag.Title = "Home Page";
}
@model IEnumerable<UserOutput>

<div class="panel panel-default">
    <div class="panel-heading">
        <form class="form-inline" id="search-form" asp-action="search" data-ajax="true" data-ajax-method="GET" data-ajax-update="#ajax-show-list" data-ajax-loading="#mp-ajax-loading">
            <div class="form-group">
                @Html.TextBox("term", null, new { @class = "form-control", id = "", placeholder = "search ..." })
            </div>
            <div class="form-group">
                @Html.DropDownList("SortBy", Html.GetEnumSelectList(typeof(SortBy)), new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.DropDownList("SortOrder", Html.GetEnumSelectList(typeof(SortOrder)), new { @class = "form-control" })
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Search" />
            </div>
        </form>
    </div>
    <div class="panel-body" id="ajax-show-list">
        @Html.Partial("_UsersList", Model)
    </div>
</div>


@section Scripts{
    <!--To handle ajax pagination-->
    @await Html.PartialAsync("_ValidationScriptsPartial")
}

